* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
    font-family: sans-serif;

    max-width: 1300px;
    margin: 0 auto;
}

h1 {
    font-size: 35px;
    margin-bottom: 30px;
    text-align: left;
    box-shadow: 0 -2px 0 0 rgb(235, 235, 235);
}

section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border-radius: 0px;
    box-shadow: 0 2px 0 0 rgb(235, 235, 235);
}

article {
    display: grid;
    grid-template-rows: 300px auto auto auto;
    row-gap: 10px;
    padding: 10px;
    background: white;
    border-radius: 12px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.p1 {
    font-size: 25px;
    font-family: sans-serif;
}
.p2 {
    font-size: 15px;
    font-family: sans-serif;
}

div {
    font-size: 16px;
    color: rgb(101, 190, 245);
    font-family: sans-serif;
    font-weight: 600;
}

.a1 {
    padding: 13px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 6px;
    color: white;
    background-color: rgb(101, 190, 245);
    font-family: sans-serif;
    font-weight: 600;
    width: 150px;
    height: 45px;
}

.a2 {
    text-decoration: none;
    color : rgb(101, 190, 245);
}

.a1:hover {
    background-color: rgb(63, 134, 179);
}

header {
    justify-self: center;
    width: 45px;
    height: 45px;
}
footer{
    justify-self: center;
}

footer img {
    width: 120px;    
    height: auto;
    display: grid;
    margin: 10px auto 0;
}

